$font_size_titre : 50vh;
$font_size_sous_titre : 5vh;
$font_size_sous_sous_titre : 3vh;
$font_size_nav: 5vh;
$font_col3_medium:medium;
$font_col3_large:medium;
$font_col3_xxlarge:medium;
$column3_size : 30vw;
$font_family :Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;

html
{
    cursor: url(./cursor.svg),default;
	
	font-family: 'Roboto', sans-serif;
	
}

body {
	
	
	width: 100%;
	height: 100vh;
    background:beige;
	background-image: linear-gradient(rgb(221, 221, 221) .1em, transparent .0em) ,linear-gradient(90deg, rgb(110, 136, 161) .0em, transparent .1em);
	background-size: 3em 3em;
	
  }

// grid
.content0 {
	display: flex;
	justify-content: flex-end;
  }
  
  .container {
	display: grid;
	grid-template-columns: 1fr;
	grid-gap: 10px;
  
	// items
	> * {
	  /*color: #353535;*/
	  font-size: 1.2em;
	  line-height: 1.5;
	  padding: 20px;
	  /*background: #d0cfc5;*/
	}
	.titre {
		font-size: $font_size_nav;
		padding-left: 10%;
	}
  
	// nav styles
	nav {
	  margin-left: 30%;
  
	  ul {
		list-style: none;
		margin: 0;
		padding: 0;
  
		li {
		  a {
			color: black;
			text-decoration: none;
			padding: 2%;
			font-size: $font_size_nav;
			
		  }
		}
	  }
	}
  }

  // media query for grid layout
  @media only screen and (min-width: 600px) {
	// grid
	.container {
	  grid-template-columns: repeat(4, 1fr);
  
	  // specific item styles
	  header, nav, footer {
		grid-column: span 4;
	  }
  
	  #article0 
	  {
		grid-column: span 3;
		padding-left: 15%;
		font-size: xx-large;
	}
  
	  #article1 {
		grid-column: span 4;
	  }
  
	  #article2 
	  {
		grid-column: span 4;
	    padding: 5px;
		max-width:950px;
		width: 95%;
		margin: 20px auto;
	
		.titre 
		{
			padding: 0 15px;
			
		}
	  }
  
	  #article3 {
		grid-column: span 4;
	  }
  
	  #article4 {
		grid-column: span 4;
	  }
  
	  // nav styles
	  nav ul li {
		display: inline-block;
		padding: 0 20px 0 0;
	  }
  
	  // hide toggle
	  .toggle {
		display: none;
	  }
	}
  }
  
  // media query for nav styles
  @media only screen and (max-width: 599px) {
	#nav {
	  transition: transform .3s ease-in-out;
	  top: 0;
	  bottom: 0;
	  min-height: 100vh;
	  position: fixed;
	  width: 300px;
	  left: -340px;
	}
  
	#nav:target {
	  transform: translateX(340px);
	}
  
	.close {
	  text-align: right;
	  display: block;
	  text-decoration: none;
	  font-size: 3em;
	  position: relative;
	  top: -30px;
	}
  }
  .cards
  {
	margin: auto;
	background: #fefefe;
	border-radius: 5px;
	overflow: hidden;
	box-shadow: 0 2px 10px rgba(0,0,0,.1), 3px 5px 20px rgba(0,0,0,.2);
	width: 768px;
	height:550px;
	
	padding: 5%;
	h3
	{
		font-size: $font_size_sous_sous_titre;
	}
	h4
	{
		font-size: $font_size_sous_titre;
	}
}
/***************************************************************************************************/
.columns {
	display: flex;
	flex-flow: row wrap;
	justify-content: center;
	margin: 5px 0;
  
	.column {
	  flex: 1;
	  border: 1px solid gray;
	  margin: 2px;
	  padding: 10px;
	
	  &:first-child { 
		margin-left: 0; 
	  }
	
	  &:last-child { 
		margin-right: 0; 
	  }
	}
  }
  /****************************************colonne 3 effet****************/
 

  .col3 
{   
	li
	{
		font-weight: bold;
    	font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
	 }
	 .html h4 ,
	.css h4, 
	.illustrator h4,
	.trello h4
	{
	font-size:xx-large;
	}
	.javascript h4 , 
	.photoshop h4  , 
	.indesign h4 , 
	.cms h4
	{
	font-size: x-large;
	}
	.php h4 ,
	.csharp h4 
	{
	font-size: medium;

	}
	.python h4
	{
	font-size: medium;
	}

	.html p ,
	.css p, 
	.illustrator p,
	.trello p,
	.javascript p , 
	.photoshop p , 
	.indesign p, 
	.cms p,
	.php p ,
	.csharp p,
	.python p
	{
	display:none;
	}
	.html:hover p ,
	.css:hover p ,
	.illustrator:hover p ,
	.trello:hover p ,
	.javascript:hover p ,
	.photoshop:hover p ,
	.indesign:hover p ,
	.cms:hover p,
	.php:hover p ,
	.csharp:hover p, 
	.python:hover p 
	{
		display: block;
		color: red;
		font-size: medium;
	}

	}
	.html h4 ,
	.css h4, 
	.illustrator h4,
	.trello h4
	{
	font-size: xx-large;
	}
	.javascript h4 , 
	.photoshop h4  , 
	.indesign h4 , 
	.cms h4
	{
	font-size: x-large;
	}
	.php h4 ,
	.csharp h4 
	{
	font-size: medium;

	}
	.python h4
	{
	font-size:medium;
	}

	.html p ,
	.css p, 
	.illustrator p,
	.trello p,
	.javascript p , 
	.photoshop p , 
	.indesign p, 
	.cms p,
	.php p ,
	.csharp p,
	.python p
	{
	display:none;
	}
	.html:hover p ,
	.css:hover p ,
	.illustrator:hover p ,
	.trello:hover p ,
	.javascript:hover p ,
	.photoshop:hover p ,
	.indesign:hover p ,
	.cms:hover p,
	.php:hover p ,
	.csharp:hover p, 
	.python:hover p 
	{
		display: block;
		color: red;
		font-size: 30px;
	}

	/**********************************************portfolio********************************************************/////
	@import url('https://fonts.googleapis.com/css?family=Inconsolata|Merriweather');

	$body: 'Inconsolata', monospace;
	$big: 'Merriweather', serif;
	
	$white: #ffffff;
	$primary: grey;
	$secondary:grey;
	$light: #CECDCA;
	$dark: #474545;
	$ease: all 0.3s ease-in-out;
	

	
	#portfolio {
	  width: 100%;
	  min-height: 100vh;
	  background: $white;
	  position: relative;
	  display: grid;
	  grid-template-columns: repeat(4, minmax(200px, 1fr));
	  grid-template-rows: 1fr 1fr;
	  grid-gap: 2px;
	}
	.project {
	  position: relative;
	  background: $primary;
	  overflow: hidden;
	  img 
	  {
		position: absolute;
		opacity: 0.9;
		width: 500px;
		height: 500px;
		object-fit: cover;
	
		
	  }
	  p {
		position: absolute;
		text-align: center;
		width: 100%;
		padding: 1em 0;
		text-transform: uppercase;
		letter-spacing: 2px;
		z-index: 3;
	  }
	  .grid__title {
		position: absolute;
		width: 100%;
		text-align: center;
		white-space: nowrap;
		bottom: 0;
		font-weight: 100;
		font-size: 0.8em;
		z-index: 3;
		text-transform: uppercase;
		color: $dark;
		letter-spacing: 2px;
	  }
	}
	
	// project hover overlay
	.project:hover .grid__overlay {
	  transform: translateY(0%);
	}
	
	.grid__overlay {
	  background: rgba(darken($primary, 10%), .9);
	  height: 100%;
	  grid-column: 1 / -1;
	  grid-row: 1 / -1;
	  position: relative;
	  display: grid;
	  justify-items: center;
	  align-items: center;
	  transform: translateY(101%);
	  transition: $ease;
	  button {
		background: none;
		outline: none;
		font-weight: 100;
		letter-spacing: 2px;
		border: 1px solid $white;
		color: $white;
		text-transform: uppercase;
		padding: 10px;
		&:hover {
		  transition: $ease;
		  background: $white;
		  color: $secondary;
		  transform: scale(1.05);
		}
	  }
	}
	
	//project popup overlay
	
	.overlay {
	  position: fixed;
	  background: rgba($dark, 0.7);
	  top: 0;
	  right: 0;
	  bottom: 0;
	  left: 0;
	  display: none;
	  z-index: 3;
	}
	.overlay.open {
	  display: grid;
	  align-items: center;
	  justify-items: center;
	}
	
	.overlay__inner {
	  background: $white;
	  max-width: 700px;
	  padding: 20px;
	  position: relative;
	  opacity: 1;
	}
	
	.close {
	  position: absolute;
	  top: 3px;
	  right: 10px;
	  background: none;
	  outline: 0;
	  color: $dark;
	  border: 0;
	  text-transform: uppercase;
	  letter-spacing: 2px;
	  &:hover {
		color: $secondary;
	  }
	}
	