@charset "UTF-8";
@import url("https://fonts.googleapis.com/css?family=Inconsolata|Merriweather");
html {
  cursor: url(./cursor.svg), default;
  font-family: "Roboto", sans-serif;
  scroll-behavior: smooth;
}

body {
  overflow: hidden;
  margin: 0;
}

.content0 {
  display: flex;
  justify-content: flex-end;
  background-color: black;
  height: 10vh;
  width: 100vw;
  position: fixed;
  color: #fefefe;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}

.container {
  display: grid;
  grid-template-columns: 1fr;
}
.container > * {
  font-size: 1.2em;
  line-height: 1.5;
  padding: 20px;
}
.container .titre {
  font-size: xx-large;
  padding-left: 10%;
}
.container header output {
  font-size: large;
}
.container header nav ul {
  list-style: none;
  margin: 0;
  padding: 0;
}
.container header nav ul li a {
  color: white;
  text-decoration: none;
  font-size: xx-large;
}

/******************************************typewriter***********************************************************/
/* Animation */
.hello, .hello0, .hello1, .hello2, .hello3 {
  white-space: nowrap;
  overflow: hidden;
  font-family: "Source Code Pro", monospace;
  font-size: 40px;
  color: white;
}

/* text animation  effet machine à ecrire*/
@keyframes animated-text {
  from {
    width: 0;
  }
  to {
    width: 100%;
  }
}
.hello {
  animation: animated-text 2s steps(20, end) 1s 1 normal both, type 600ms steps(30, end) 8;
}

.hello0 {
  animation: animated-text 2s steps(20, end) 3s 1 normal both, type 600ms steps(30, end) 8;
}

.hello1 {
  animation: animated-text 2s steps(20, end) 5s 1 normal both, taper 600ms steps(20, end) 8;
}

.hello2 {
  animation: animated-text 2s steps(20, end) 7s 1 normal both, taper 600ms steps(20, end) 8;
}

.hello3 {
  animation: animated-text 2s steps(20, end) 9s 1 normal both, taper 600ms steps(20, end) 8;
}

.nom {
  font-size: 200px;
  color: white;
  line-height: 1;
}

.fonction {
  font-size: 50px;
  color: white;
}

@media only screen and (min-width: 600px) {
  .container {
    grid-template-columns: repeat(4, 1fr);
  }
  .container header, .container nav, .container footer {
    grid-column: span 4;
  }
  .container #article0 {
    grid-column: span 3;
    font-size: 30px;
    height: 90vh;
    color: black;
    padding: 20% 10% 10% 10%;
    background-color: #15227A;
  }
  .container aside {
    background-color: aquamarine;
  }
  .container aside > img {
    margin-top: 30%;
    min-width: 800px;
  }
  .container #article1 {
    grid-column: span 4;
    height: 100vh;
  }
  .container #article2 {
    grid-column: span 4;
    height: 100vh;
    margin-top: 20%;
  }
  .container #article2 .titre2 h1 {
    font-size: 80px;
  }
  .container #article2 .sous_titre {
    font-size: 40px;
  }
  .container #article3 {
    grid-column: span 4;
    height: 100vh;
  }
  .container #article3 .titre2 h1 {
    font-size: 80px;
  }
  .container #article3 .sous_titre {
    font-size: 40px;
  }
}
#article4 {
  grid-column: span 4;
  height: 100vh;
}

nav ul li {
  display: inline-block;
  padding: 0 20px 0 0;
}

.toggle {
  display: none;
}

@media only screen and (max-width: 599px) {
  #nav {
    transition: transform 0.3s ease-in-out;
    top: 0;
    bottom: 0;
    min-height: 100vh;
    position: fixed;
    width: 300px;
    left: -340px;
  }
  #nav:target {
    transform: translateX(340px);
  }
  .close {
    text-align: right;
    display: block;
    text-decoration: none;
    font-size: 3em;
    position: relative;
    top: -30px;
  }
}
.cards {
  margin-top: 10%;
  margin-left: 30%;
  margin-right: 30%;
  padding: 5%;
  background: #fefefe;
  border-radius: 5px;
  overflow: hidden;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1), 3px 5px 20px rgba(0, 0, 0, 0.2);
}
.cards .card h3 {
  font-size: 3vh;
  padding: 10%;
}
.cards .card h4 {
  font-size: 5vh;
  padding: 5%;
}

/***************************************************************************************************/
.columns {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  margin: 5px 0;
  height: 60vh;
}
.columns .column {
  flex: 1;
  border: 1px solid gray;
  margin: 2px;
  padding: 10px;
}
.columns .column:first-child {
  margin-left: 0;
}
.columns .column:last-child {
  margin-right: 0;
}

/****************************************colonne 3 effet****************/
.col3 li {
  font-weight: bold;
  font-size: 180px;
  font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
}
.col3 .html h4,
.col3 .css h4,
.col3 .illustrator h4,
.col3 .trello h4 {
  font-size: xx-large;
}
.col3 .javascript h4,
.col3 .photoshop h4,
.col3 .indesign h4,
.col3 .cms h4 {
  font-size: x-large;
}
.col3 .php h4,
.col3 .csharp h4 {
  font-size: medium;
}
.col3 .python h4 {
  font-size: medium;
}
.col3 .html p,
.col3 .css p,
.col3 .illustrator p,
.col3 .trello p,
.col3 .javascript p,
.col3 .photoshop p,
.col3 .indesign p,
.col3 .cms p,
.col3 .php p,
.col3 .csharp p,
.col3 .python p {
  display: none;
}
.col3 .html:hover p,
.col3 .css:hover p,
.col3 .illustrator:hover p,
.col3 .trello:hover p,
.col3 .javascript:hover p,
.col3 .photoshop:hover p,
.col3 .indesign:hover p,
.col3 .cms:hover p,
.col3 .php:hover p,
.col3 .csharp:hover p,
.col3 .python:hover p {
  display: block;
  color: red;
  font-size: medium;
}

.html h4,
.css h4,
.illustrator h4,
.trello h4 {
  font-size: xx-large;
}

.javascript h4,
.photoshop h4,
.indesign h4,
.cms h4 {
  font-size: x-large;
}

.php h4,
.csharp h4 {
  font-size: medium;
}

.python h4 {
  font-size: medium;
}

.html p,
.css p,
.illustrator p,
.trello p,
.javascript p,
.photoshop p,
.indesign p,
.cms p,
.php p,
.csharp p,
.python p {
  display: none;
}

.html:hover p,
.css:hover p,
.illustrator:hover p,
.trello:hover p,
.javascript:hover p,
.photoshop:hover p,
.indesign:hover p,
.cms:hover p,
.php:hover p,
.csharp:hover p,
.python:hover p {
  display: block;
  color: red;
  font-size: 30px;
}

/**********************************************portfolio********************************************************/
#portfolio {
  width: 80%;
  min-height: 80vh;
  background: #ffffff;
  position: relative;
  display: grid;
  grid-template-columns: repeat(4, minmax(200px, 1fr));
  grid-template-rows: 1fr 1fr;
  grid-gap: 2px;
}

.project {
  position: relative;
  background: grey;
  overflow: hidden;
}
.project img {
  position: absolute;
  opacity: 0.9;
  width: 500px;
  height: 500px;
  -o-object-fit: cover;
     object-fit: cover;
}
.project p {
  position: absolute;
  text-align: center;
  width: 100%;
  padding: 1em 0;
  text-transform: uppercase;
  letter-spacing: 2px;
  z-index: 3;
}
.project .grid__title {
  position: absolute;
  width: 100%;
  text-align: center;
  white-space: nowrap;
  bottom: 0;
  font-weight: 100;
  font-size: 0.8em;
  z-index: 3;
  text-transform: uppercase;
  color: #474545;
  letter-spacing: 2px;
}

.project:hover .grid__overlay {
  transform: translateY(0%);
}

.grid__overlay {
  background: rgba(103, 103, 103, 0.9);
  height: 100%;
  grid-column: 1/-1;
  grid-row: 1/-1;
  position: relative;
  display: grid;
  justify-items: center;
  align-items: center;
  transform: translateY(101%);
  transition: all 0.3s ease-in-out;
}
.grid__overlay button {
  background: none;
  outline: none;
  font-weight: 100;
  letter-spacing: 2px;
  border: 1px solid #ffffff;
  color: #ffffff;
  text-transform: uppercase;
  padding: 10px;
}
.grid__overlay button:hover {
  transition: all 0.3s ease-in-out;
  background: #ffffff;
  color: grey;
  transform: scale(1.05);
}

.overlay {
  position: fixed;
  background: rgba(71, 69, 69, 0.7);
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  display: none;
  z-index: 3;
}

.overlay.open {
  display: grid;
  align-items: center;
  justify-items: center;
}

.overlay__inner {
  background: #ffffff;
  max-width: 700px;
  padding: 20px;
  position: relative;
  opacity: 1;
}

.close {
  position: absolute;
  top: 3px;
  right: 10px;
  background: none;
  outline: 0;
  color: #474545;
  border: 0;
  text-transform: uppercase;
  letter-spacing: 2px;
}
.close:hover {
  color: grey;
}/*# sourceMappingURL=temp.css.map */