@charset "UTF-8";
/*///////////////////////////////////TEXTE///////////////////////////////////////////////////////////////////*/
@import url("https://fonts.googleapis.com/css?family=Inconsolata|Merriweather");
/*///////////////////////////////////COMPORTEMENT DES IMAGES///////////////////////////////////////////////////////////////////*/
/*///////////////////////////////////COMPORTEMENT DU SITE///////////////////////////////////////////////////////////////////*/
/*///////////////////////////////////STRUCTURE PORTFOLIO///////////////////////////////////////////////////////////////////*/
html {
  cursor: url(./cursor.svg), default;
  font-family: "Roboto", sans-serif;
  scroll-behavior: smooth;
}

body {
  overflow: hidden;
  margin: 0;
  background-color: beige;
}

.inactive {
  display: none;
}

.active {
  display: block;
}

.content0 {
  z-index: 1000;
  display: flex;
  justify-content: flex-end;
  height: 10vh;
  width: 100vw;
  position: fixed;
  color: black;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}

#article0 .hello, #article0 .hello0, #article0 .hello1, #article0 .hello2, #article0 .hello3 {
  font-size: 30px;
}

aside img {
  padding-top: 20%;
  padding-left: 10%;
  width: 700px;
}
aside .hellobis {
  font-size: 30px;
}

.container {
  display: grid;
  grid-template-columns: 1fr;
}
.container > * {
  line-height: 1.5;
  padding: 20px;
}
.container .titre {
  padding-left: 10%;
}
.container header output {
  font-size: large;
}
.container header nav ul {
  list-style: none;
  margin: 0;
  padding: 0;
}
.container header nav ul li a {
  color: black;
  text-decoration: none;
  font-size: xx-large;
}
.container header nav ul li a:hover {
  border-bottom: black solid 2px;
}

.cards1 {
  margin-top: 20%;
  padding: 5%;
  border-radius: 5px;
  overflow: hidden;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1), 3px 5px 20px rgba(0, 0, 0, 0.2);
}

.cards2 {
  margin-top: 10%;
  margin-left: 20%;
  margin-right: 30%;
  padding-left: 5%;
  padding-right: 5%;
  padding-top: 2%;
  padding-bottom: 5%;
  margin-bottom: 10%;
  background: #fefefe;
  border-radius: 5px;
  overflow: hidden;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1), 3px 5px 20px rgba(0, 0, 0, 0.2);
}

.cadre3 {
  margin-top: 20%;
}

.cards {
  margin-top: 10%;
  margin-left: 20%;
  margin-right: 30%;
  padding-left: 5%;
  padding-right: 5%;
  padding-top: 2%;
  padding-bottom: 2%;
  background: #fefefe;
  border-radius: 5px;
  overflow: hidden;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1), 3px 5px 20px rgba(0, 0, 0, 0.2);
}
.cards .card-img {
  width: 250px;
  height: 400px;
  background-image: url(https://images.unsplash.com/photo-1517694712202-14dd9538aa97?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=a20bc6324f6ef2969d9a7cae56b8d4d1&auto=format&fit=crop&w=1350&q=80);
  background-position: 0 center;
  background-size: cover;
}
.cards h3 {
  font-size: 2em;
}
.cards h4 {
  font-size: 1.5em;
  padding-bottom: 5%;
}
.cards h5 {
  font-size: 1em;
  padding-top: 5%;
}
.cards p {
  font-size: 20px;
}

#article2 {
  grid-column: span 4;
  height: 100vh;
  width: 90VW;
}
#article2 #parcours {
  padding: 10%;
  font-size: 20px;
}
#article2 .about2, #article2 .about3 {
  border-left: red solid 5px;
}

#portfolio {
  padding-left: 30vw;
  padding-top: 20vh;
  width: 80vw;
  height: 80vh;
  display: grid;
  grid-template-columns: repeat(4, minmax(200px, 1fr));
  grid-template-rows: 1fr 1fr;
  grid-gap: 2px;
}
#portfolio .parent {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: repeat(5, 1fr);
  grid-column-gap: 0px;
  grid-row-gap: 0px;
}
#portfolio .parent div {
  width: 200px;
  height: 200px;
  border: solid black 1px;
}
#portfolio .parent div button {
  margin: 50px;
  padding: 5px;
  border: none;
  background-color: black;
}
#portfolio .parent div button a {
  text-decoration: none;
  color: white;
}
#portfolio .div1 {
  background-image: url(./poem_cabine3.jpg);
  background-size: 100%;
  grid-area: 1/1/2/2;
}
#portfolio .div2 {
  background-image: url(./button.jpg);
  background-size: 100%;
  grid-area: 1/2/2/3;
}
#portfolio .div3 {
  grid-area: 1/3/2/4;
}
#portfolio .div4 {
  grid-area: 1/4/2/5;
}
#portfolio .div5 {
  grid-area: 2/4/3/5;
}
#portfolio .div6 {
  grid-area: 3/4/4/5;
}
#portfolio .div7 {
  grid-area: 3/3/4/4;
}
#portfolio .div8 {
  grid-area: 2/3/3/4;
}
#portfolio .div9 {
  grid-area: 2/2/3/3;
}
#portfolio .div10 {
  grid-area: 3/2/4/3;
}
#portfolio .div11 {
  grid-area: 3/1/4/2;
}
#portfolio .div12 {
  grid-area: 2/1/3/2;
}

/******************************************typewriter***********************************************************/
/* Animation */
.hello, .hello0, .hello1, .hello2, .hello3, .hellobis {
  white-space: nowrap;
  overflow: hidden;
  font-family: "Source Code Pro", monospace;
  color: black;
}

/* text animation  effet machine à ecrire*/
@keyframes animated-text {
  from {
    width: 0;
  }
  to {
    width: 100%;
  }
}
.hello {
  animation: animated-text 2s steps(20, end) 1s 1 normal both, type 600ms steps(30, end) 8;
}

.hello0 {
  animation: animated-text 2s steps(20, end) 3s 1 normal both, type 600ms steps(30, end) 8;
}

.hello1 {
  animation: animated-text 2s steps(20, end) 5s 1 normal both, taper 600ms steps(20, end) 8;
}

.hello2 {
  animation: animated-text 2s steps(20, end) 7s 1 normal both, taper 600ms steps(20, end) 8;
}

.hello3 {
  animation: animated-text 2s steps(20, end) 9s 1 normal both, taper 600ms steps(20, end) 8;
}

.hellobis {
  animation: animated-text 2s steps(20, end) 9s 1 normal both, taper 600ms steps(20, end) 8;
  margin-left: 20%;
}

.nom {
  padding-top: 5%;
  font-size: 190px;
  color: black;
  line-height: 1;
}

.fonction {
  font-size: 60px;
  color: black;
}

@media only screen and (min-width: 576px) {
  .container {
    grid-template-columns: repeat(5, 1fr);
    /**********************************************COLONNE*****************************************************/
    /****************************************colonne 3 effet****************/
    /*/////////////////////////////////////////////////////////////////////Portfolio//////////////////////////////////////////////////////////////////////////////////////////*/
  }
  .container header, .container nav, .container footer {
    grid-column: span 4;
  }
  .container #article0 {
    grid-column: span 2;
    padding-top: 15%;
    height: 100vh;
    color: black;
  }
  .container aside {
    grid-column: span 3;
  }
  .container aside img {
    width: 600px;
  }
  .container #article1 {
    grid-column: span 4;
    height: 100vh;
  }
  .container .columns {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
  }
  .container .columns .column {
    flex: 1;
    /*border: 1px solid gray;*/
    margin: 2px;
    padding: 10px;
  }
  .container .columns .column:first-child {
    margin-left: 0;
  }
  .container .columns .column:last-child {
    margin-right: 0;
  }
  .container .col3 li {
    font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  }
  .container .html h4,
  .container .css h4,
  .container .illustrator h4 {
    font-size: 2em;
  }
  .container .javascript h4,
  .container .photoshop h4,
  .container .indesign h4,
  .container .cms h4 {
    font-size: 3em;
  }
  .container .php h4,
  .container .csharp h4 {
    font-size: 2em;
  }
  .container .python h4 {
    font-size: 2em;
  }
  .container .html p,
  .container .css p,
  .container .illustrator p,
  .container .javascript p,
  .container .photoshop p,
  .container .indesign p,
  .container .cms p,
  .container .php p,
  .container .csharp p,
  .container .python p {
    display: none;
  }
  .container .html:hover p,
  .container .css:hover p,
  .container .illustrator:hover p,
  .container .javascript:hover p,
  .container .photoshop:hover p,
  .container .indesign:hover p,
  .container .cms:hover p,
  .container .php:hover p,
  .container .csharp:hover p,
  .container .python:hover p {
    display: block;
    color: red;
    font-size: 0.9em;
  }
  .container .hide {
    display: none;
  }
  .container .show {
    display: block;
  }
  .container #article3 {
    grid-column: span 4;
    height: 100vh;
    width: 100vw;
  }
  .container #article3 .titre2 {
    grid-row: 1/-1;
  }
  .container #article3 .titre2 h1 {
    font-size: 80px;
  }
  .container #article3 .titre2 .sous_titre {
    font-size: 40px;
  }
  .container #article3 .project {
    position: relative;
    overflow: hidden;
  }
  .container #article3 .project .description {
    padding-top: 30%;
    font-size: 10px;
  }
  .container #article3 .project p {
    position: absolute;
    text-align: center;
    width: 100%;
    padding: 1em 0;
    text-transform: uppercase;
    letter-spacing: 2px;
    color: white;
  }
  .container #article3 .project .grid__title {
    position: absolute;
    width: 100%;
    text-align: center;
    white-space: nowrap;
    bottom: 0;
    font-weight: 100;
    font-size: 0.8em;
    text-transform: uppercase;
    color: white;
    letter-spacing: 2px;
  }
  .container #article3 .project:hover img {
    opacity: 30%;
  }
  .container #article3 .grid__overlay {
    height: 100%;
    grid-column: 1/-1;
    grid-row: 1/-1;
    position: relative;
    display: grid;
    justify-items: center;
    align-items: center;
  }
  .container #article3 .grid__overlay button {
    display: flex;
    flex-direction: flex-end;
    background: none;
    outline: none;
    font-weight: 100;
    letter-spacing: 2px;
    border: 1px solid white;
    color: white;
    text-transform: uppercase;
    padding: 10px;
  }
  .container #article3 .grid__overlay button:hover {
    background: white;
    color: black;
  }
  .container #article3 .overlay {
    position: fixed;
    background: rgba(71, 69, 69, 0.7);
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    display: none;
    z-index: 10000;
  }
  .container #article3 .overlay.open {
    display: grid;
    align-items: center;
    justify-items: center;
  }
  .container #article3 .overlay__inner {
    background: white;
    width: 700px;
    padding: 20px;
    position: relative;
    opacity: 1;
  }
  .container #article3 .overlay__inner img {
    max-width: 600px;
    max-height: 600px;
  }
  .container #article3 .close {
    position: absolute;
    top: 3px;
    right: 10px;
    background: none;
    outline: 0;
    color: #474545;
    border: 0;
    text-transform: uppercase;
    letter-spacing: 2px;
  }
  .container #article3 .close:hover {
    color: black;
  }
}
#article4 {
  grid-column: span 4;
  height: 100vh;
}

nav ul li {
  display: inline-block;
  padding: 0 20px 0 0;
}

.toggle {
  display: none;
}

@media only screen and (max-width: 599px) {
  #nav {
    transition: transform 0.3s ease-in-out;
    top: 0;
    bottom: 0;
    min-height: 100vh;
    position: fixed;
    width: 300px;
    left: -340px;
  }
  #nav:target {
    transform: translateX(340px);
  }
  .close {
    text-align: right;
    display: block;
    text-decoration: none;
    font-size: 3em;
    position: relative;
    top: -30px;
  }
}
article .forme {
  -webkit-clip-path: polygon(25% 0%, 100% 0%, 75% 100%, 0% 100%);
          clip-path: polygon(25% 0%, 100% 0%, 75% 100%, 0% 100%);
  background-color: aqua;
}

.profil_link {
  padding-top: 10%;
}
.profil_link img {
  min-width: 40px;
}
.profil_link a {
  text-decoration: none;
  color: black;
}

/* section demain*/
/*footer*/
footer {
  width: 100%;
  background: black;
}
footer h3 {
  color: antiquewhite;
}

.content-footer {
  max-width: 1000px;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  font-size: 16px;
  padding: 50px 0 100px;
}
.content-footer h3, .content-footer p > a {
  text-decoration: none;
  color: antiquewhite;
}

.bloc {
  flex-basis: 20%;
  margin: 0 30px;
}
.bloc h3, .bloc p > a {
  text-decoration: none;
  color: antiquewhite;
}

/* contact */
.footer-contact h3,
.footer-services h3,
.footer-schedule h3,
.footer-medias h3 {
  font-size: 22px;
  padding-bottom: 20px;
}

.schedule-list li a {
  text-decoration: none;
  color: antiquewhite;
}

.footer-contact p {
  padding: 5px 0;
}

.media-list {
  background-color: white;
  padding: 10%;
  border-radius: 15px;
}
.media-list li a {
  font-size: 10px;
  text-decoration: none;
  color: black;
}
.media-list img {
  padding: 5%;
}

/* Services */
.services-list,
.schedule-list,
.media-list {
  list-style-type: none;
  text-decoration: none;
  color: antiquewhite;
}

.services-list li {
  padding: 2px 0;
}

.services-list a {
  text-decoration: none;
  color: antiquewhite;
}

.services-list a:hover {
  color: rgb(3, 3, 3);
}

/* Medias */
.media-list {
  position: relative;
  right: 10px;
}

.media-list svg {
  width: 30px;
  margin: 10px 10px;
}

.media-list a {
  text-decoration: none;
  color: #333;
  display: flex;
  align-items: center;
  font-size: 20px;
}

/* Media queries */
@media screen and (max-width: 1000px) {
  .content-footer {
    max-width: 100%;
    flex-wrap: wrap;
  }
  .bloc {
    flex-basis: auto;
    margin: 20px 20px;
  }
}
@media screen and (max-width: 600px) {
  .content-footer {
    justify-content: center;
    padding-top: 30px;
  }
  .bloc {
    flex-basis: 70%;
    /* margin: 10px; */
  }
  .footer-contact h3,
  .footer-services h3,
  .footer-schedule h3,
  .footer-medias h3 {
    padding-bottom: 5px;
  }
}/*# sourceMappingURL=temp.css.map */